@import url('https://fonts.googleapis.com/css2?family=Racing+Sans+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Racing+Sans+One&family=Tajawal:wght@200;300;400;500;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Racing+Sans+One&family=Tajawal:wght@200;300;400;500;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
:root{
    --primary: #ff3700;
}

body{
    background-color: black;
    font-family: 'Tajawal' , 'Montserrat' , sans-serif;
}
body::-webkit-scrollbar{
    display: none;
}

.movies{
    display: flex;
    align-items: center;
}
.series{
    display: flex;
    align-items: center;
    padding-top: 50px;
}
button.download{
    color: var(--primary);
    background: white;
}
button.download:hover{
    color: white;
    background: var(--primary);
}

.closeIcon{
    z-index: 1000;
}
.movieHomePage{
    padding-right: 15px;
    border-right: 2px solid var(--primary);
}